/* GLOBAL */
html, body {
	font-family: 'Cabin', sans-serif;
	font-size:14px;
	background-color:#F2F2F2;
}
form {
	display:block;
	margin:10px 0;
}

.divider {
	margin-top: 10px;
	margin-bottom: 10px;
	height:2px;
	background-color: #d3d3d3;
}
/* BRAND FONT COLORS/ATTRIBUTES */
.very-light-purple {
	color:#EAEBF4;
}
.light-purple {
	color: #A0AEDB;
}
.alert-color {
	color:#B40E2A;
}

.bubblingG {
text-align: center;
width:100%;
height:50px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #014165;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#014165;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#EAEBF4;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#014165;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#EAEBF4;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#014165;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#EAEBF4;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#014165;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#EAEBF4;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#014165;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#EAEBF4;
transform: translateY(-21px);
}

}

/* Mainly used in learn, but can be useful across the app */

.animation-delay-1 {
	-webkit-animation-delay: .1s; /* Chrome, Safari, Opera */
    animation-delay: .1s;
}
.animation-delay-2 {
	-webkit-animation-delay: .2s; /* Chrome, Safari, Opera */
    animation-delay: .2s;
}
.animation-delay-3 {
	-webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
    animation-delay: .3s;
}
.animation-delay-4 {
	-webkit-animation-delay: .4s; /* Chrome, Safari, Opera */
    animation-delay: .4s;
}

/* NAV */
.top-navigation {
	overflow:hidden;
	opacity:1;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;

	background: #b7bcd9; /* Old browsers */
	background: -moz-linear-gradient(top, #b7bcd9 1%, #b7bcd9 1%, #b7bed8 3%, #b7bed8 7%, #9aa8cf 74%, #9aa8cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b7bcd9), color-stop(1%,#b7bcd9), color-stop(3%,#b7bed8), color-stop(7%,#b7bed8), color-stop(74%,#9aa8cf), color-stop(100%,#9aa8cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b7bcd9 1%,#b7bcd9 1%,#b7bed8 3%,#b7bed8 7%,#9aa8cf 74%,#9aa8cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b7bcd9 1%,#b7bcd9 1%,#b7bed8 3%,#b7bed8 7%,#9aa8cf 74%,#9aa8cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b7bcd9 1%,#b7bcd9 1%,#b7bed8 3%,#b7bed8 7%,#9aa8cf 74%,#9aa8cf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b7bcd9 1%,#b7bcd9 1%,#b7bed8 3%,#b7bed8 7%,#9aa8cf 74%,#9aa8cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bcd9', endColorstr='#9aa8cf',GradientType=0 ); /* IE6-9 */
	
}
.top-navigation .nav {
	text-align: center
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.active .fa {
	color:#1B62B0 !important;
	background-color:initial;
}

.navbar-brand {
	float:none;
}

.nav li a {
	cursor:pointer;
}

/* CONTENT AREAS */
.panel {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.main {
	min-height:90vh;
}

.main, footer {
	background-color: #EAEBF4;
}

.content-frame {
	padding:5px;
}

figcaption {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: none;
  font-size:1.5em;
}

.action-timeline {
	padding:5px;
}

.timeline-item img, figure {
	width:100% !important;
}

.timeline-item.inactive, .timeline-item.inactive img {
	opacity: 0.6;
    filter: alpha(opacity=40); /* msie */
    -webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	cursor:pointer;
}

.topic.inactive {
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.sidebar {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	padding-top:15px;
	opacity:0;
}

.nav-sidebar li.active {
	font-size:1.1em;
}

.main-content-wrapper {
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-ms-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
	opacity:0;
}

.landing-section {
	-webkit-transition: opacity .4s ease-in;
	-moz-transition: opacity .4s ease-in;
	-ms-transition: opacity .4s ease-in;
	-o-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
	opacity:0;

	/*-webkit-transition: padding-top .2s ease-in;
	-moz-transition: padding-top .2s ease-in;
	-ms-transition: padding-top .2s ease-in;
	-o-transition: padding-top .2s ease-in;
	transition: padding-top .2s ease-in-out;
	padding-top:10px;*/
}


/** LEARN **/
.learn-card {
	min-height:200px;
	margin-top:15px;
}

.learn-body {
	padding:5px;
	background-color: white;
	cursor: pointer;
	box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.137);
}

.learn-card img {
	width:250px;
	border-radius:50%;
	overflow:hidden;
}

.learn-title {
	font-size:1.2em;
}

/** HOME **/
.home-body {
	padding:15px;
	font-size:20px;
	font-weight:bold;
}

.home-body .row {
	min-height: 500px;
}

.intro-text,
.closer-body{
	padding-top:10%;
	padding-bottom:10%;
}

.intro-get-started-btn {
	color:white;
}

.intro-get-started-btn a.btn,
.closer a.btn {
	color:white;
	background-color:#337ab7;
}

.intro-get-started-btn a.btn:hover,
.closer a.btn:hover {
	color:#B7BCD9;
}

.intro-section-title {
	margin:5px 0 10px 0;
}

.principle {	
	margin-bottom: 10px;
}

.principle-body,
.feature-body {
	border:1px solid transparent;
	border-radius: 50%;
	min-height:200px;
	margin-bottom:5px;
}

.principle-header {
	font-size:16px;
}

.principle-text,
.feature-text {
	font-size:14px;
}

.feature {

}
.feature.col-sm-6 {
	margin-top:5px;
}
.feature-title {
	font-size:18px;
}

.feature-title,
.feature-body,
.feature-text {
	margin-bottom:5px;
}

.feature-text p {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}