<div class="panel panel-default">
<div class="panel-body">
	<div class="timeline-item col-sm-4 inactive">
		<a href="">
			<img class="captionjs inactive" src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" alt="Introduction to Education - 1" />
		</a>
	</div>
	<div class="timeline-item col-sm-4 active">
		<a href="">
			<img class="captionjs" src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" alt="Introduction to Education - 2" />
		</a>
	</div>
	<div class="timeline-item col-sm-4 inactive">
		<a href="">
			<img class="captionjs inactive" src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" alt="Introduction to Education - 3" />
		</a>
	</div>
</div>
<div class="clearfix text-center">
	<i class="fa fa-caret-up fa-2x"></i>
</div>
</div>