<div class="home-body">

	<!-- introduction -->
	<div class="row intro">

		<div class="col-sm-6 intro-text">
			A streamlined, low-distraction environment <br />
			suitable and personalizable for your educational
			needs.

			<br /> <br />

			100% Web-based, no downloads required.

			<br /> <br />

			<div class="intro-get-started-btn text-center">
				<a href="/learn" class="btn">Get Started Now</a>
			</div>
		</div>

		<div class="col-sm-6 intro-slider-wrapper">

			<div class="intro-slider-container">
				<img src="" alt="" />
				<div class="intro-slider">
					Slider images
				</div>
			</div>
			
		</div>

	</div>

	<div class="container divider">
	</div>

	<!-- Com-et's principles -->
	<div class="principles row landing-section">

		<div class="text-center intro-section-title">
			Our principles
		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">
				Human-centered.
			</div>

			<div class="principle-text">
				Education requires commitment, not better technology. Com-et focuses on
				helping you form better study habits and offers an environment tweaked to the last
				string for you. Designed by humans for humans.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">	
				A cognitive approach.
			</div>

			<div class="principle-text">
				Com-et takes advantage of the strengths and weaknesses of the human
				mind and exploits both to bolster learning. Allow us to manage the
				dedicated learning environment so that you can focus on your studies.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">
				Always free.
			</div>

			<div class="principle-text">
				Education does not have a price tag. We at Com-et believe
				strongly in the equality of education for all. The Com-et 
				team vows to never offer premium services or ask for any
				form of payment.
			</div>

		</div>

		

	</div>

	<div class="container divider"></div>

	<!-- Important features of Com-et -->
	<div class="row features features-single text-center landing-section">
		<div class="text-center intro-section-title">
			Notable features
		</div>

		<div class="feature">

			<div class="feature-title">
				(1) A break system.
			</div>

			<div class="feature-body">

				<div class="col-sm-6">
					One image here with picture of tired cartoon
				</div>

				<div class="col-sm-6">
					Image of app's break system
				</div>

			</div>

			<div class="feature-text">

				<p>
					You are not a machine, regardless of how much you might aspire to be one. 
					<br />

					Com-et offers a simple, yet revolutionary break system that other learning
					applications do not consider.

					<br/> <br/ >

					Semi-optional breaks are offered throughout each course, allowing you
					to step outside, check your social media accounts, or enjoy a quick online video.

					<br /> <br />

					This is because we know studying can be difficult; headaches, fatigue, and cognitive exhaustion only make
					it worse. We promise to make it easier on you so that you can reach your learning
					goals. 

				</p>

			</div>

		</div>


	</div>

	<div class="container divider"></div>

	<div class="row features features-double landing-section">

		<div class="col-sm-6 feature text-center">

			<div class="feature-title">
				(2) Multiple contexts.
			</div>

			<div class="feature-body">
				image of reviews/pop-quiz
			</div>

			<div class="feature-text">
				<p>
					Your memory is better when you repeat things in your head. 
					<br /> <br />
					Com-et offers a seamless review system that allows for repetition
					and re-encoding. This means more contexts for you to learn and understand
					course topics.
				</p>
			</div>

		</div>

		<div class="col-sm-6 feature text-center">

			<div class="feature-title">
				(3) Ask a "Tweetcher".
			</div>

			<div class="feature-body">
				image of twitter
			</div>

			<div class="feature-text">
				<p>
					Yes, we came up with that pun. 

					<br /> <br />

					It can be difficult to get help when you need it, be it due to
					availability or intimidation - we won't ask.

					<br /> <br />

					We integrated Twitter so that you can Tweet your questions directly to a 
					teacher. This means quicker responses and less hesitation.
				</p>
			</div>

		</div>

	</div>

	<div class="container divider"></div>

	<!-- Ending/Closer -->
	<div class="row closer landing-section">

		<div class="closer-body text-center">
			We are devoted to bringing you closer to your study goals, and hope
			to see you succeed.

			<br /><br />

			<div class="col-sm-6">
				Stay updated with our latest news by signing up for our newsletter.

				<form class="newsletter-form">
					<label for="email">Email</label>
					<input type="email" id="email" />
				</form>

			</div>

			<div class="col-sm-6">
				Want to try out a demo? <br /><br />
				<a class="btn" href="/learn">Demo</a>
			</div>

		</div>

	</div>


</div>