<div class="learn-landing-wrapper container">
	<div class="learn-cards">

		<div class="col-sm-6 learn-card animated fadeInUp">
			<div class="learn-body inactive">
				
				<div class="learn-img text-center">
					<img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" alt="Introduction to Education - 1. Introductory course about what modern education is." class="captionjs">
				</div>

			</div>
		</div>

		<div class="col-sm-6 learn-card animated fadeInUp animation-delay-1">
			<div class="learn-body">
				
				<div class="learn-img text-center">
					<img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" alt="Introduction to Education - 2. Sequel to Introduction to Education 1" class="captionjs">
				</div>

			</div>
		</div>

		<div class="col-sm-6 learn-card animated fadeInUp animation-delay-2">
			<div class="learn-body inactive">
				
				<div class="learn-img text-center">
					<img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" alt="Introduction to Education - 3. Super sequel to Introduction to Education 1." class="captionjs">
				</div>

			</div>
		</div>

		
		
	</div>
</div>