<div class="left-col col-sm-2">
	<div class="sidebar">
		<!-- sidebar loaded via BB-->
	</div>
</div>

<div class="middle-col col-sm-10">

	<div class="main-content-wrapper">

		<div class="content-frame main-content">
			<!-- loaded by BB -->
		</div>

		<div class="action-timeline">
			<!-- loaded by BB -->
		</div>

	</div>
</div>

<!-- modal, prob should refactor later -->
<div class="modal fade" id="learn-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pick a course!</h4>
      </div>
      <div class="modal-body">
        
        <div class="learn-topics">

        	<div class="topic col-sm-6 text-center inactive" data-tid="1">
        		<div class="topic-body">
        			<div class="topic-img">
        				<img src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" width="200" />
        			</div>
        		</div>
        		<div class="topic-title">
        			Introduction to Education - 1
        		</div>
        	</div>

        	<div class="topic col-sm-6 text-center" data-tid="2">
        		<div class="topic-body">
        			<div class="topic-img">
        				<a class="topic-link" onclick="$('button.close').click();">
        					<img src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" width="200" />
        				</a>
        			</div>
        		</div>
        		<div class="topic-title">
        			Introduction to Education - 2
        		</div>
        	</div>

        	<div class="topic col-sm-6 text-center inactive" data-tid="3">
        		<div class="topic-body">
        			<div class="topic-img">
        				<img src="http://cdn.playbuzz.com/cdn/0079c830-3406-4c05-a5c1-bc43e8f01479/7dd84d70-768b-492b-88f7-a6c70f2db2e9.jpg" width="200" />
        			</div>
        		</div>
        		<div class="topic-title">
        			Introduction to Education - 3
        		</div>
        	</div>

        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->