<span class="navbar-brand">Education:</span>
<ul class="nav nav-sidebar">
	<li><a href="#">Education - 1 <span class="sr-only">(current)</span></a></li>
	<li class="active"><a href="#">Education - 2 <i class="fa fa-caret-left"></i></a></li>
    <li><a href="#">Education - 3</a></li>
    <li><a href="#">Education - 4</a></li>
    <li><a class="alert-color" href="#">Break!</a></li>
    <li><a href="#">Pop Quiz!</a></li>
    <li><a href="#">Education - 5</a></li>
    <li><a href="#">Review</a></li>
</ul>